apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: devops-blog-ingress
  namespace: default
  annotations:
    # Auto-issue SSL from Let's Encrypt via cert-manager
    cert-manager.io/cluster-issuer: letsencrypt-prod
    # Use HTTPS entrypoint only
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  rules:
    # Frontend (Next.js)
    - host: "blog.thienduong.info"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: devops-blog-client-svc
                port:
                  number: 80
    # Backend API (Node.js)
    - host: "api.thienduong.info"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: devops-blog-server-svc
                port:
                  number: 80
  tls:
    - hosts:
        - blog.thienduong.info
        - api.thienduong.info
      secretName: devops-blog-tls
